/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
	color: #273d46;
	font-family: 'Times New Roman';
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	background-color: #e8e8e8;
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	margin-bottom: 137px;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none; }
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

header{
	margin: 106px 108px 0 142px;
	height: 1064px;
	background: url(../img/ellipse_1_copy_4.png) center no-repeat;
}

header h2{
	margin: 62px 594px 0 529px;
	text-align: center;
	opacity: 0.6;
	font-family: Arial;
	font-size: 14px;
	line-height: 40px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

header h1{
	margin: 28px 264px 0 205px;
	text-align: center;
	font-size: 36px;
	line-height: 50px;
}

.header__img{
	display: block;
	width: 821px;
	margin: 77px auto 0;
	border: solid #ffffff 10px;
}

.block1{
	margin: -154px 370px 0 334px;
	opacity: 0.8;
	font-size: 24px;
	line-height: 40px;
}

.block2{
	margin: 64px 0 0 331px;
	font-family: Arial;
	font-size: 20px;
	line-height: 36px;
	font-weight: 400;
	padding-bottom: 137px;
}

.link{
	margin: 59px 0 0 0;
	font-size: 14px;
}

.block2 ul li{
	margin-bottom: 16px;
	padding-left: 36px;
	font-family: Arial;
	font-size: 20px;
	line-height: 36px;
	font-weight: 400;
	background: url(../img/li.png) left no-repeat;
}

.link{
	width: 199px;
	height: 44px;
	box-shadow: 0px 6px 40px 0px rgba(128,183,179,0.54);
	border-radius: 30px;
	font-size: 14px;
	line-height: 40px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	background: rgba(128,183,179,0.9);
}

.link a{
	color: #ffffff;
	margin: 17px 11px 17px 30px;
	background: rgba(128,183,179,0.54);
}

.link img{
	margin: 15px 0;
	background: rgba(128,183,179,0.54);
}

.block2 ul li:nth-child(2){
	font-style: italic;
	color: #80b7b3;
}

.block2 ul li:nth-child(3){
	font-weight: 700;
}

.block2 ul li:last-child{
	opacity: 0.3;
	text-decoration: line-through;
	color: #273d46;
}