/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
	color: #273d46;
	font-family: 'Times New Roman';
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	background-color: #e8e8e8;
	height: auto;
	width: auto;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none; }
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body{
	position: relative;
	z-index: 1;
	margin: 106px auto 0;
	max-width: 1190px;
}

body::before{
	display: block;
  	content: '';
  	position: absolute;
 	top: 0;
  	left: 0;
 	right: 0;
 	bottom: 0;
 	background: url("../img/ellipse_1_copy_4.png") no-repeat;
  	opacity: .24;
 	z-index: -1;
}

header h2{
	text-align: center;
	opacity: 0.6;
	font-family: Arial;
	font-size: 14px;
	line-height: 40px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

header h1{
	text-align: center;
	font-size: 36px;
	line-height: 50px;
}

.header__img{
	display: block;
	max-width: 821px;
	margin: 77px auto 0;
	border: solid #ffffff 10px;
}

.block1{
	margin: 97px auto 0;
	max-width: 841px;
	opacity: 0.8;
	font-size: 24px;
	line-height: 40px;
}

.block2{
	max-width: 841px;
	margin: 64px auto 0;
	padding-bottom: 137px;
	font-family: Arial;
	font-size: 20px;
	line-height: 36px;
	font-weight: 400;
}

.block2 ul li{
	padding-left: 36px;
	font-family: Arial;
	font-size: 20px;
	line-height: 36px;
	font-weight: 400;
	background: url(../img/li.png) left no-repeat;
}

.link{
	display: block;
	margin-top: 59px;
	font-family: Arial;
	color: #ffffff;
	padding: 2px 11px 0 30px;
	width: 199px;
	height: 44px;
	box-shadow: 0px 6px 40px 0px rgba(128,183,179,0.54);
	border-radius: 30px;
	font-size: 14px;
	line-height: 40px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	background: rgba(128,183,179,0.9);
}

.link img{
	margin: 13px 0;
	background: rgba(128,183,179,0.54);
}

.block2 ul li:nth-child(2){
	font-style: italic;
	color: #80b7b3;
}

.block2 ul li:nth-child(3){
	font-weight: 700;
}

.block2 ul li:last-child{
	opacity: 0.3;
	text-decoration: line-through;
	color: #273d46;
}