/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-family: Arial;
	font-weight: 400;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none; }
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

header{
	display: flex;
	padding: 50px;
	background-color: #445161;
	justify-content: space-between;
}

h1{
	font-size: 60px;
	line-height: 1.2;
	text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
	color: #ffffff;
}

ul{
	font-size: 20px;
	line-height: 36px;
	text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
	color: #ffffff;
}

ul li::before{
	display: inline-block;
	content: '';
	width: 25px;
	height: 19px;
	background: url("../img/check_icon_346.png");
	margin-right: 10px;
}

.header__1{
	display: flex;
	flex-direction: column;
}

.block1{
	display: flex;
	padding: 50px;
}

.block1__text{
	display: flex;
	flex-direction: column;
	margin-left: 38px;
}

.block1 h2{
	font-size: 30px;
	line-height: 36px;
	color: #445161;
}

.block1 p{
	font-size: 16px;
	line-height: 24px;
	color: #333333;
}

.block2{
	display: flex;
	flex-direction: column;
	padding: 50px;
	background: #f5f5f5;
}

.block2 h2{
	margin: 0 auto 30px;
	font-size: 30px;
	line-height: 36px;
	color: #445161;
}

.block2__content{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.block2 h3{
	font-size: 24px;
	line-height: 30px;
	color: #445161;
}

.block2__flex{
	display: flex;
}

.block2__text{
	display: flex;
	max-width: 500px;
	flex-direction: column;
}

.block2 p{
	font-size: 16px;
	line-height: 24px;
	color: #333333;
}

.block2 img{
	margin: 0 15px 30px 26px;
}

.block3{
	margin: 50px auto;
}

.block3 h2 {
	max-width: 410px;
	margin: 0 auto 29px;
	font-size: 30px;
	line-height: 36px;
	color: #445161;	
}

.block3__content{
	display: flex;
	justify-content:space-evenly;
}

.block3__text{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 300px;
	border-radius: 5px;
	background: #445161;	
}

.h4{
	display: flex;
	justify-content: center;
	margin: 18px 0 12px;
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
	color: #ffffff;
}

.h5{
	display: flex;
	justify-content: center;
	padding: 18px 0 17px;
	background: #ffffff;
	font-size: 40px;
	line-height: 30px;
	color: #445162;
	border: 2px solid #445162;
}

.block3 p{
	padding: 20px;
}

.block3 a{
	display: flex;
	justify-content: center;
	padding: 13px 0;
	margin: 0 20px 20px 20px;
	width: 260px;
	border-radius: 5px;
	height: 40px;
	background-color: #ffffff;
	font-size: 18px;
	line-height: 18px;
	font-weight: 700;
	color: #445161;
}

.block3 p{
	font-size: 14px;
	line-height: 24px;
	color: #ffffff;
}

footer{
	display: flex;
	justify-content: center;
	padding: 23px;
	background: #f5f5f5;
	font-size: 12px;
	line-height: 24px;
	letter-spacing: 0.025em;
	color: #445162;
}
