body,
html {
    font-family: "Oswald", sans-serif;
    font-style: normal;
}

.content__tittle {
    font-weight: 400;
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
    color: #21062A;
}

.title__inner {
    display: flex;
    align-items: center;
}

.header {
    color: #ffffff;
    font-weight: 400;
    text-transform: uppercase;
}

.conteiner {
    max-width: 1200px;
    margin: 0 auto;
}

.header-text__inner {
    position: relative;
}


.header__inner {
    padding-top: 47px;
    background: url(../img/bg-header.png) no-repeat center #21062A;
    padding-bottom: 120px;
}

.phone {
    font-size: 36px;
    line-height: 53px;
}

.header__info {
    display: flex;
    justify-content: space-between;
}

.header-text-h1 {
    font-weight: 400;
    font-size: 72px;
    line-height: 107px;
}


.header-text-h2 {
    font-size: 36px;
    line-height: 53px;
}

.header-text-dscr {
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    text-transform: none;
    margin: 30px 0;
}

.link {
    max-width: 250px;
}

.header__btn__inner {
    margin-bottom: 70px;
}

.header__btn {
    width: 250px;
    display: block;
    padding: 15px 0;
    background: #5A0D67;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
}

.contact ul {
    display: flex;
    justify-content: center;
}

.contact ul li {
    margin-right: 10px;
}

.header-img {
    position: absolute;
    right: 0px;
    bottom: -345px;
}

.content {
    margin-top: 300px;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    color: #2C2B2B;
}

.services {
    max-width: 1100px;
    margin: 0 auto;
}

.services__inner {
    display: flex;
    margin-top: 50px;
}

.text-title {
    color: #5A0D67;
    margin-bottom: 12px;
}

.services-text {
    margin-bottom: 12px;
}

.services-text1 {
    margin-bottom: 50px;
}


.services__inner-text {
    max-width: 504px;
    margin-right: 96px;
}

.stages-title {
    font-size: 24px;
    line-height: 36px;
    color: #2C2B2B;
}

.stages-text {
    color: #2C2B2B;
}

.services__inner-stages ul li {
    padding-left: 113px;
    width: 450px;
    margin-bottom: 14px;
    border: 1px solid #C4C4C4;
    position: relative;
}

.services__inner-stages ul {
    counter-reset: myCounter;
}

.services__inner-stages ul li::before {
    counter-increment: myCounter;
    content: "0" counter(myCounter);
    display: block;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translate(0, -50%) rotate(-90deg);
    font-weight: 400;
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
    color: #C4C4C4;

}

.services__inner-stages ul li:hover {
    padding-left: 113px;
    border: 2px solid #5A0D67;
    width: 500px;
}

.services__inner-stages ul li:hover::before {
    color: #5A0D67;
}

.services__inner-stages ul li:hover .stages-title {
    color: #5A0D67;
}

.services__inner-stages ul li:hover .stages-text {
    color: #000000;
}

.why {
    font-weight: 400;
    color: #FFFFFF;
    margin: 100px auto 0;
    max-width: 1200px;
    display: flex;
}

.why__title__inner {
    max-width: 780px;
}

.why__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.why__title {
    width: 315px;
}

.why__text__inner {
    margin-top: 50px;
    width: 780px;
    background: #21062A;
    padding: 23px 0 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.why__text {
    max-width: 315px;
}

.number {
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
}

.number__title {
    font-size: 24px;
    line-height: 36px;
}

.number__dscr {
    font-size: 18px;
    line-height: 27px;
    color: #C4C4C4;
    margin-bottom: 20px;
}

.car {
    margin-right: 96px;
}

.auto {
    max-width: 1200px;
    margin: 100px auto 0;
}

.car__box__inner {
    display: flex;
    margin-top: 49px;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
}

.car__box {
    padding: 6px;
    margin-right: 12px;
    border: 1px solid #C4C4C4;
}

.img__csr {
    margin-bottom: 23px;
}

.car__box__title,
.car__box__text {
    text-align: center;
    color: #2C2B2B;
    margin-bottom: 5px;
}

.car__box:hover {
    padding: 6px;
    margin-right: 12px;
    border: 1px solid #5A0D67;
    background: #5A0D67;
}

.img__csr {
    margin-bottom: 23px;
}

.car__box:hover .car__box__title,
.car__box:hover .car__box__text {
    text-align: center;
    line-height: 27px;
    color: #FFFFFF;
    margin-bottom: 5px;
}

.footer__inner {
    max-width: 1200px;
    margin: 150px auto 0;
    display: flex;
    justify-content: space-between;
}

.footer__form {
    background: #21062A;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 75px 57px;
}

.footer__contact {
    padding-top: 50px;
}

.footer__form__title {
    font-weight: 400;
    margin-bottom: 16px;
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.request {
    max-width: 450px;
}

.footer__form input {
    background: #21062A;
    width: 450px;
    border: 1px solid #FFFFFF;
    color: #C4C4C4;
    text-align: center;
    padding: 24px 0;
    margin-bottom: 12px;
}

.footer__form input::placeholder {
    background: #21062A;
    width: 450px;
    border: 1px solid #FFFFFF;
    color: #C4C4C4;
    text-align: center;
    padding: 24px 0;
    margin-bottom: 12px;
}

.footer__contact__title,
.footer__contact__text {
    color: #5A0D67;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
}

.footer__text__inner {
    margin-top: 50px;
}

.footer__contact__text {
    color: #2C2B2B;
    margin-bottom: 20px;
}

.footer__info {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    padding: 30px 0;
    margin: 0 auto;
    align-items: center;
}

.footer__conteiner {
    background: #21062A;
}

.footer__info a {
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}

.footer__form__btn {
    background: #5A0D67;
    color: #FFFFFF;
    margin: 66px 100px 0;
    text-align: center;
    height: 50px;
    width: 250px;
}

.hr {
    width: 80px;
    margin: 0 5px;
    padding: 0;
    height: 0;
    border: none;
    border-top: 3px solid #21062A;
}

.car-slider .slick-dots {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.car-slider .slick-dots li {
    margin: 0 8px;
}

.car-slider .slick-dots li.slick-active button {
    border-top: 3px solid #21062A;
}

.car-slider .slick-dots button {
    font-size: 0;
    width: 50px;
    height: 10px;
    outline: none;
    width: 80px;
    margin: 0 5px;
    padding: 0;
    height: 0;
    border: none;
    border-top: 1px solid #C4C4C4
}

.advice {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 355px;
}

.advice__inner {
    position: relative;
}

.advice-line {
    position: absolute;
    left: 240px;
    top: 50%;
    width: 80px;
    margin: 0 5px;
    padding: 0;
    height: 0;
    border: none;
    border-top: 2px solid #C4C4C4;
}

.advice-text {
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: #C4C4C4;
}